<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dmfs.provider.tasks"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <receiver android:name="org.dmfs.provider.tasks.broadcast.DueAlarmBroadcastHandler" />
        <receiver android:name="org.dmfs.provider.tasks.broadcast.DueAlarmBroadcastHandler" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

</manifest>